.education{
    position: absolute;
    top:100vh;
    height: 100vh;
    width: 100vw;
    transition: 1s ease;
    z-index: 1111;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    backdrop-filter: blur(15px);
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans';
    font-weight: 100;
}

.education.active{
    top:0;
}

.eduexit{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 20px;
    right: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: 0.5s ease;
}

.eduexit:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.exit1, .exit2{
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: white;
    pointer-events: none;
}

.exit1{
    transform: rotateZ(45deg);
}

.exit2{
    transform: rotateZ(315deg);
}

.wecontainer{
    padding: 12vh 10vw;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.educationsection{
    grid-column: 1;
    font-family: 'Josefin Sans';
    font-weight: 100;
    border: 1px solid white;
    padding: 40px;
    display: grid;
    grid-template-rows: 20% 40% 40%;
}

.wesectionheader{
    font-weight: 100;
    text-decoration: 1px underline;
    text-underline-offset: 10px;
}

.educationsection h1, .educationsection h2{
    font-weight: 100;
    margin-bottom: 15px;
}

.worksection{
    grid-column: 2;
    font-family: 'Josefin Sans';
    font-weight: 100;
    border: 1px solid white;
    padding: 40px;
    display: grid;
    grid-template-rows: 20% 40% 40%;
}

.worksection h1, .worksection h2{
    font-weight: 100;
    margin-bottom: 15px;
}