@media only screen and (max-width:1060px){
    .project{
        grid-template-rows: auto auto;
        height: auto;
    }

    .projectcontent{
        height: auto;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }

    .projectdes{
        width: 90%;
        padding: 10px 20px;
        text-align: center;
    }

    .projectdes p {
        margin-bottom: 30px;
    }

    .projectdes a{
        margin: 0 10px;
    }

    .projectimg, div.projectimg{
        grid-row: 1/2;
        grid-column: 1;
        height: 400px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width:450px){
    .projectdes a{
        margin-right: 0;
        font-size: 19px;
    }

    .projectdes p{
        font-size: 25px;
    }

    div.projectimg{
        height: 250px;
    }
}